<!DOCTYPE html>
<html lang="en">
<head>
    <title>CS386 Project</title>
    <link rel="stylesheet" href="/static/css/mainStyle.css">
</head>
<body>
<form  method="post">
    <label >Create Account PAGE</label><br><br>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <input type="submit" value="Submit">
</form>
<h1>Test Vert.x WebServer</h1>
<p>Hello World!</p>
</body>
</html>
