<div class="mainFooter" id="foot">
    <a href="/">Home</a>
    <a href="/browsePapers">Papers</a>
    <a href="/browseTags">Tags</a>
    {{#if loggedIn}}
        <a href="/uploadPDF">Upload New Paper</a>
        <a href="/profile"> User Page</a>
    {{else}}
        <a href="/create">Create Account</a>
        <a href="/login">Login</a>
    {{/if}}
    <p>Pulp aims to support research by streamlining the literature research process.</p>
    <p>Open source at "https://github.com/Csaluski/cs-386-project" </p>
    <p>Copyright © 2021 PULP</p>
</div>


