<div class="mainNav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{browsePapers}}">Papers</a></li>
        <li><a href="{{browseTags}}">Tags</a></li>
        <li>{% if <!--user logged in-->}
            <a href="{{profile}}">User Page</a>
            {% else %}
            <a href="{{login}}">Login</a>
            {% endif %}
        </li>
    </ul>
</div>

