<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS386 Project</title>
    <link rel="stylesheet" href="static/css/styles.css">

</head>
<body>

<header id="mainHeader">
    <div class="container">
        <h1>PULP</h1>
    </div>
</header>

<form method="post">
    <div class="container">
        <label>Create Account PAGE</label><br><br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br><br>

        <input type="submit" value="Submit">
    </div>
</form>

</body>

<footer id="mainFooter">
    <p>Copyright &copy; 2021 PULP</p>
</footer>

</html>

