<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <link rel="stylesheet" href="/static/css/mainStyle.css">
</head>
<body>
<form action="/hello" method="POST">
    <div>
        <label for="name">Enter your name please</label>
        <input name="name" id="name" value="Unknown">
    </div>
    <div>
        <button>Get a greeting!</button>
    </div>
</form>
</body>
</html>
