<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
<form method="POST" method="GET" >
    <div>
        <p>Hello {{name}}, are you sure you would like to logout?</p>
        <input type="radio" id="Yes" name="log" value="Yes">
        <label for="Yes">Yes</label><br>
        <input type="radio" id="No" name="log" value="No">
        <label for="No">No</label><br>

        <br>


        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>
