<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulp: Edit Paper Page</title>

    <link rel="stylesheet" href="/static/css/mainStyle.css">
    <meta name="author" content="Hannah Larreau">
    <meta name="description" content="The page where users upload PDF and set paper details.">
</head>

    <body>
        <p>Hello {{name}}!</p>

        <form action="" method="get">
            <label for="paper">Select a PDF to Upload:</label>
            <input type="file" id="paper" name="paper">
        </form>

        <template>
            <h2>Upload Successful</h2>
        </template>

    <!-- script to show upload successful consider pop up instead
    function showContent()
    {
        var temp = document.getElementsByTagName("template")[0];
        var clon = temp.content.cloneNode(true);
        document.body.appendChild(clon);
    }
    -->

    </body>
</html>
