<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulp: Browse Papers Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="author" content="Hannah Larreau">
    <meta name="description" content="A listing of all created tags.">
</head>

<body>

<header id="mainHeader">
    <h1>Pulp: Browse Papers</h1>
</header>

{{> ../snipits/navigation}}

<main>
    <h2>All Posted Papers</h2>
    <ul>
        <!-- ToDo: Ensure this list is in alphabetic order -->
        {{#each papers}}
            <li>
                <p><a href="view/paper/{{uuid}}">{{title}}</a><br>By: {{authors}}</p>
            </li>
        {{/each}}
    </ul>
</main>

{{> ../snipits/footer}}

</body>


</html>
