<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <link rel="stylesheet" href="/static/css/mainStyle.css">
</head>
<body>
<p>Hello {{name}}!</p>
<p> at {{email}}!</p>
<p>about you {{bio}}!</p>
<-input id="button" onclick = "editbio" value ="edit"->
</body>
</html>
