<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulp: Browse Tags Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="author" content="Hannah Larreau">
    <meta name="description" content="A listing of all created tags.">
</head>
<!--<nav>
    <ul>
        <li><a href="#">Home</a></li> (route to index page)
        <li><a href="#">Papers</a></li> (route to paperListGet page)
        <li><a href="#">Tags</a></li> (route to tagListGet page)
        <li><a href="#">Log In</a></li> (route to log in or user profile page, dependent on if logged in already)
    </ul>
</nav>-->
<body>

</body>
<!--<footer>

</footer> -->
</html>
