<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pulp: Browse Tags Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta name="author" content="Hannah Larreau">
    <meta name="description" content="A listing of all created tags.">
</head>

<body>

<header id="mainHeader">
    <h1>Pulp: Browse Tags </h1>
</header>

{{> navigation}}

<article>

    <div id="allTags">
        <h2>All Existing Tags</h2>
        <ul>
            <!-- ToDo: Ensure this list is in alphabetic order -->
            {{#each tag}}
                <li>
                    <h2><a href="view/paper/{{taguuid}}">{{tagtitle}}</a></h2>
                    <p>By: {{owners}}</p>
                </li>
            {{/each}}
        </ul>
    </div>

</article>

{{> footer}}

</body>


</html>
