<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<header id="mainHeader">
    <h1>Pulp: Edit Profile </h1>
</header>

{{> navigation}}

<form method="POST">

    <div>
        <p><label for="name">Hello {{name}}</label>
        <input type="text" id="name" name="name"></p><br><br>

        <p><label for="email"> at {{email}}</label>
        <input type="text" id="email" name="email"></p><br><br>

        <p><label for="bio"> about you {{bio}}</label>
        <input type="text" id="bio" name="bio"><br><br></p>

        <input type="submit" value="Submit">
        <!--p><a href="hand" >check</a></p>
        <button  type="button"onclick="submit;location.href='hand';">Edit </button-->
        <p><a href="profile">back to profile</a></p>
    </div>

</form>

{{> footer}}

</body>

</html>
