<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<header id="mainHeader">
    <h1>Pulp</h1>
</header>

{{> navigation}}

<p>Hello {{name}} At {{email}}!</p>

{{> footer}}

</body>
</html>
