<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CS386 Project</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

<header id="mainHeader">
    <h1>Pulp: Login</h1>
</header>

{{> ../snipits/navigation}}

<main>
    <div class="container">

        <form method="POST">
            <div>
                <h1>Please login into your Pulp Account</h1><br><br>
                <label for="email">Email:</label>
                <input id="email" name="email" type="text">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</main>

{{> ../snipits/footer}}

</body>

</html>

<!--<div id="fixed">FAQs</div>
</div> -->
